:root {
    --main-bg: #ffe6e6;
    --background-color: #330000;
    --primary-color: #fff;
}

* {
    border: 0;
    padding: 0;
    font-family: sans-serif;
}

.cabecalho {
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prato {
    background-color: var(--primary-color);
    border-radius: 30px 30px;
    padding: 30px;
    margin: 30px;
}

.prato:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.prato img {
    width: 300px;
    height: 300px;
}

.prato h2 {
    color: var(--background-color);
}

footer {
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    max-width: 300px;
}

@media (max-width:600px) {
    main {
        flex-direction: column;
    }
}

